@model CovidJournal.Models.CovidEntry

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CovidEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mood" class="control-label"></label>
                <input asp-for="Mood" class="form-control" />
                <span asp-validation-for="Mood" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Headache" /> @Html.DisplayNameFor(model => model.Headache)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cough" /> @Html.DisplayNameFor(model => model.Cough)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Lack_of_Smell" /> @Html.DisplayNameFor(model => model.Lack_of_Smell)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Lack_of_Taste" /> @Html.DisplayNameFor(model => model.Lack_of_Taste)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fever" /> @Html.DisplayNameFor(model => model.Fever)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Chills" /> @Html.DisplayNameFor(model => model.Chills)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Breathlessness" /> @Html.DisplayNameFor(model => model.Breathlessness)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fatigue" /> @Html.DisplayNameFor(model => model.Fatigue)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sore_Throat" /> @Html.DisplayNameFor(model => model.Sore_Throat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Nausea" /> @Html.DisplayNameFor(model => model.Nausea)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Diarrhea" /> @Html.DisplayNameFor(model => model.Diarrhea)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Chest_Pressure" /> @Html.DisplayNameFor(model => model.Chest_Pressure)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pale_Blue_Skin" /> @Html.DisplayNameFor(model => model.Pale_Blue_Skin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
