@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@model IEnumerable<CovidJournal.Models.CovidEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mood)
            </th>
            <th>
                Symptoms
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mood)
                </td>
                <td>
                    @* change here*@
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.EntryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EntryId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EntryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
